<div class="Aboutmebox">
  <span class="Title">Let me briefly introduce myself!</span>
  <div class="Aboutme1">
    <span class="H1">My Background</span>
    <span class="P1"
      >Enthusiastic about transitioning into Front-End Development, I completed
      the intensive WeLead bootcamp and additional training programs,
      demonstrating my commitment to mastering the complexities of web
      development. This decision comes after establishing myself as a highly
      skilled scientist with a proven track record in academia and the
      pharmaceutical sector. Originally from Athens, Greece, I earned my MSc in
      Chemistry and accumulated two years of valuable work experience in Greece
      and Switzerland. During this time, I honed my analytical skills and gained
      a deep understanding of the scientific domain. Motivated by a passion for
      innovation, I am excited about the prospect of applying my analytical
      prowess and creative flair in a challenging position within the dynamic
      field of technology. I am actively seeking opportunities that align with
      my newfound passion for Front-End Development. If you're interested in
      learning more about my academic and professional journey or exploring
      potential collaborations, please don't hesitate to reach out at
      <a href="mailto:a.papassava@gmail.com">a.papassava&#64;gmail.com </a> I
      look forward to sharing my detailed CV and discussing how my diverse skill
      set can contribute to the success of your team or project.
    </span>
  </div>
  <div class="Images">
    <img class="aboutme1-image" src="/assets/images/aboutme1.jpg" />
    <img class="aboutme2-image" src="/assets/images/aboutme2.jpg" />
    <img class="aboutme3-image" src="/assets/images/aboutme3.jpg" />
    <img class="aboutme4-image" src="/assets/images/aboutme4.JPG" />
  </div>
  <div class="Aboutme2">
    <span class="H2">Hobbies & Interests</span>
    <span class="P2">
      In my everyday life, I find boundless joy in a diverse array of hobbies
      and interests that shape the essence of who I am. One of my biggest
      passions is dancing. I express my love for movement through dance,
      embracing Greek traditional dances, pulsating beats of Latin, and dynamic
      energies of Hip-Hop and R&B. Beyond the dance floor, I enjoy the
      challenges of sports, pushing my limits in Cross-fit, hiking nature's
      trails, or carving through snow-covered slopes on a snowboard. Yet, my
      interests extend far beyond the obvious. I'm a big fan of escape rooms,
      where the challenge of solving mysteries with friends adds a unique thrill
      to my leisure time. My desire for exploration knows no bounds, as
      evidenced by my globe-trotting adventures across three continents, with an
      insatiable eagerness to discover the rest. Every journey is a chance to
      discover new experiences and create lasting memories. In moments of downtime, I turn to the
      immersive world of mystery books. Each captivating plot twist provides a
      welcome escape and a chance to unwind. Yet, amidst the hustle and bustle
      of these varied activities, the most cherished moments are those spent
      with dear friends and family. The warmth and authenticity of these
      connections hold a special place in my heart.</span
    >
  </div>
</div>
