<div class="Pieceofmyworkbox">
  <div class="Mainbox">
    <span class="Maintitle">Take a look at my work!</span>
    <span class="Description">
      Explore snapshots of my projects</span>
  </div>
  <div class="Project1">
   
    <span class="Project1Header"><a href=" https://github.com/annalabi/foodies" target="_blank"><b>We Feed</b></a>· Food Delivery App</span>
    <div class="Project1Images">
    <img class="Project1image1" src="/assets/images/project1image1.jpg" />
    <img class="Project1image2" src="/assets/images/project1image2.jpg" />
    <img class="Project1image3" src="/assets/images/project1image3.jpg" />
    <img class="Project1image4" src="/assets/images/project1image4.jpg" />
    <img class="Project1image5" src="/assets/images/project1image5.jpg" />
    <img class="Project1image6" src="/assets/images/project1image6.jpg" />
    <img class="Project1image7" src="/assets/images/project1image7.jpg" />

  </div>
  </div>
  <div class="Project2">
    <span class="Project2Header"><a href=" https://github.com/Tonia5/Wanderlusts---My-travelling-website.git" target="_blank"><b>Wanderlusts</b></a>· My Travelling Website</span>
      <div class="Project2Images">
      <img class="Project2image1" src="/assets/images/project2image1.jpg" />
      <img class="Project2image2" src="/assets/images/project2image2.jpg" />
      <img class="Project2image3" src="/assets/images/project2image3.jpg" />
      <img class="Project2image5" src="/assets/images/project2image5.jpg" />
      <img class="Project2image6" src="/assets/images/project2image7.jpg" />
    </div>
  </div>
  <div class="Project3">
   
    <span class="Project3Header"><a href="https://github.com/Tonia5/RAWG-page--practise-project-.git" target="_blank"><b>Rawg</b></a>· On-line games page</span>
    <div class="Project3Images">
    <div class="Project2Images">
    <img class="Project3image1" src="/assets/images/project3image1.jpg"  />
    </div>
  </div>
</div>
