<div class="Errorpage">
  <img src="assets/images/unpluged.jpg" alt="image of unpluged" />
  <div class="Messagebox">
    <span class="Message1">Oops!</span>
    <span class="Message2">404 Not Found</span>
    <span class="Message3">
      Sorry, an error has occured, Requested page not found!</span
    >
  </div>

  <div class="Buttons">
    <button class="Homebutton" a routerLink="/home">Home</button>

    <button class="Contactbutton" a routerLink="/contactme">Contact Me</button>
  </div>
</div>
