<div class="Contactbox">
  <div class="Contactme1">
    <span class="Firstphrase">
    Feel free to reach out and connect by dropping me an email at
    <a href="mailto:a.papassava@gmail.com">a.papassava&#64;gmail.com</a>. </span> <span class="Secondphrase">I'm
    excited to hear from you and explore potential collaborations!</span>
    </div>

  <div class="ContactmeLine2">
    <span class="Contactme2">
      Let’s keep in touch
      <a
        href="https://www.linkedin.com/in/tonya-papasava/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="linkedin-icon"
          src="/assets/images/linkedin-icon.png"
          alt="LinkedIn Profile"
      /></a>
      <a href="mailto:a.papassava@gmail.com"> <img
      class="email-icon"
      src="/assets/images/email-icon.png"
      alt="LinkedIn Profile"
  /></a>
    </span>
  </div>
</div>
