.Container {
    display: flex;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
    margin: 0;
    
   }
   @media only screen and (max-width: 1050px) and (min-width: 700px) {
    .Container{
        width:100%;
        margin:0;
    }
  }