<div class="Home">
  <div class="Backgroundimage">
    <div class="Overlay"></div>
    <div class="Left-panel">
      <div class="Headers">
        <span class="Header1">Hello!</span>
        <span class="Header2">Welcome to my professional hub</span>
      </div>
      <span class="Paragraph"
        >Explore my resume website to discover the diverse skills and
        experiences that shape my career path.<br /><br />
        Let's embark on a journey of mutual growth and success.<br /><br />
        Looking forward to connecting with you!</span
      >
    </div>
  </div>
</div>
