.Home {
  height: 100%;
  width: 100%;
  position: relative;
}
.Backgroundimage {
  background-image: url("/assets/images/background.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  position: relative;
}
.Overlay {
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.Home .Left-panel {
  width: 50%;
  text-align: center;
  color: rgb(124, 97, 97);
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.Left-panel .Headers {
  display: flex;
  flex-direction: column;
}

.Left-panel .Header1 {
  color: rgb(124, 97, 97);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 74px;
  font-weight: 500;
  letter-spacing: 25.6px;
}

.Left-panel .Header2 {
  color: rgb(124, 97, 97);
  margin-top: 4rem;
  box-sizing: border-box;
  font-family: "Architects Daughter";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 12.5px;
}

.Left-panel .Paragraph {
  margin-top: 10rem;
  box-sizing: border-box;
  color: rgb(98, 97, 97);
  font-family: Hubballi;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
}

@media screen and (max-height: 40rem) {
  .Backgroundimage {
    height: 100%;
  }
}
@media only screen and (max-width: 1050px) {
  .Home .Left-panel {
    width: 100%;
    height: 100%;
  }
  .Left-panel .Header1 {
    margin-top: 0.5rem;
  }
  .Left-panel .Header2 {
    margin-top: 0.5rem;
  }
  .Left-panel .Paragraph {
    margin-top: 2rem;
  }
}
